*.env
*.pfx
*.ignore
*.ignore.*


node_modules/
dist/
bin/
obj/
coverage/
.nyc_output/
.DS_Store
.history


appsettings.Development.json

.vscode/*
!.vscode/launch.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


.vscode/tasks.json

.prettierrc


#sandbox/scratchpad

sandbox.js

yarn-error.log